<header id="top-header">
    <span class="siteName"><a class="homelink" href="/" title="Return to home page">CSE Motors</a></span>
    <div id="tools">
<!--change to this link when page is made: href="/client/login"  -->
        <span class="accountLink"><a href="/">My Account</a></span>
    </div>
</header>