<h1>Welcome to CSE Motors!</h1>
<img src="../images/vehicles/delorean.jpg">
<h2>Delorean Upgrades</h2>
<img src="../images/upgrades/flux-cap.png">
<img src="../images/upgrades/flame.jpg">
<img src="../images/upgrades/bumper_sticker.jpg">
<img src="../images/upgrades/hub-cap.jpg">
<h2>DMC Delorean Reviews</h2>
<ul>
    <li>Wow, so cool! 4/5</li>
    <li>Love it, amazing! 5/5</li>
    <li>Makes me want to vomit from happiness! 5/5</li>
    <li>BUY NOW, you won't regret 4/5</li>
    <li>Had my first kiss in this car 5/5</li>
</ul>