/*** ANY SCREEN ****/
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#wrapper {
  background-color: white;
  margin: auto;
}

.homelink, .accountLink > a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color:black
}

.homelink {
  font-size:x-large;
  margin: 10% 70% 0% 0%;
}

.accountLink {
  margin: 0% 0% 10% 80%;
}

nav ul, #delorean-ad ul {
  list-style-type: none;
}

nav li {
  text-decoration: none;
  color:aliceblue;
  background-color: indigo;
  text-align: center;
}

nav li:hover {
  background-color: darkorchid;
}

#delorean-ad{
  background-color: rgba(126, 12, 119, .4);
  float:left;
  margin: 0% 0% -30%;
  padding: 1% 5%;
  opacity: .95;
  border-radius: 5%;
  font-weight: bold;
}

#delorean-ad button{
  background-color:darkorange;
  margin: 3% 20%;
  padding:1em;
  border: 0px;
  width: 60%;
  border-radius: 15%;
  font-weight: bolder;
}

#delorean-ad button:hover{
  background-color: goldenrod;
}

/****** PHONE/SMALL SCREEN */
@media screen and (max-width: 600px){
  nav li {
    border: 1px;
    border-style: solid;
    border-color: blueviolet;
    padding: 1% 0%;
  }


}

/****** NOT PHONE/SMALL */
@media screen and (min-width: 600px){
 
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 200px;
    background-repeat: repeat;
  }

  nav li {
    display: inline-block;
    margin: -1%;
    border: 0%;
    padding: 0% 5%;
    width: 20%;
  }
  #wrapper {
    width: 80%;
  }

  #delorean {
    width: 450px;
    margin-top: 20%;
    position: relative;
    z-index: 0;
  }

  #delorean-ad{
    padding: 1% 5%;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    z-index:100
  }
}
