/*** ANY SCREEN ****/
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#inv-display {
  list-style-type: none;
}

#inv-display li {
border-radius: 5%;
display: block;
width: 36%;
border-style: solid;
border-width: 1px;
padding: 2px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#wrapper {
  background-color: white;
  margin: auto;
}

.homelink, .accountLink > a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color:black
}

.homelink {
  font-size:x-large;
  margin: 10% 70% 0% 0%;
}

.accountLink {
  margin: 0% 0% 10% 80%;
}

nav ul, #delorean-ad ul {
  list-style-type: none;
}

.reviews li{
  list-style-position: inside;
  text-align: left;
  margin: auto;
  padding: 1%;
}

nav li {
  text-decoration: none;
  color:aliceblue;
  background-color: indigo;
  text-align: center;
}

nav li:hover {
  background-color: darkorchid;
}

#delorean-ad{
  background-color: rgba(126, 12, 119, .4);
  float:left;
  margin: 0% 0% -20% 10%;
  padding: 1% 5%;
  opacity: .95;
  border-radius: 5%;
  font-weight: bold;
}

#delorean-ad button{
  background-color:darkorange;
  margin: 3% 20%;
  padding:1em;
  border: 0px;
  width: 60%;
  border-radius: 15%;
  font-weight: bolder;
}

#delorean-ad button:hover{
  background-color: rgb(252, 255, 51);
}

.upgrades {
  width: 80%;
  margin: auto;
}

.upgrades div {
  width: 70%;
  padding: 3px;
  margin: 2px;
  background-color: indigo;
  border-radius: 5%;
  color:antiquewhite;
}

.upgrades div:hover{
  background-color: darkorchid;
}

/****** PHONE/SMALL SCREEN */
@media screen and (max-width: 800px){
  nav li {
    border: 1px;
    border-style: solid;
    border-color: blueviolet;
    padding: 1% 0%;
  }


}

/****** NOT PHONE/SMALL */
@media screen and (min-width: 800px){
 
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 200px;
    background-repeat: repeat;
  }

  nav li {
    display: inline-block;
    margin: -1%;
    border: 0%;
    padding: 0% 5%;
  }

  #wrapper {
    width: 80%;
  }

  #delorean {
    width: 450px;
    position: relative;
    margin: 0% 30% 0% 20%;
    z-index: 0;
  }

  #delorean-ad{
    position: relative;
    padding: 1% 5%;
    border-radius: 5%;
    margin: 0% 0% -10% 20%;
    z-index:100
  }

  .bottom-content {
    display: grid;
    grid: auto / auto auto;
  }

  .upgrades {
    display: grid;
    grid: auto auto auto / auto auto;
  }

  .upgrades h2 {
    grid-column: 1 / span 2;
  }

  .details {
    display: inline-block;
  }
}
