/*** ANY SCREEN ****/
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
  background-color: white;
  margin: auto;
}

.homelink, .accountLink > a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color:black
}

.homelink {
  font-size:x-large;
  margin: 10% 70% 0% 0%;
}

.accountLink {
  margin: 0% 0% 10% 80%;
}

nav ul {
  list-style-type: none;
}

nav li {
  text-decoration: none;
  color:aliceblue;
  background-color: indigo;
  text-align: center;
}

nav li:hover {
  background-color: darkorchid;
}

/****** PHONE/SMALL SCREEN */
@media screen and (max-width: 600px){
  nav li {
    border: 1px;
    border-style: solid;
    border-color: blueviolet;
    padding: 1% 0%;
  }


}

/****** NOT PHONE/SMALL */
@media screen and (min-width: 600px){
  /* AWKWARD "bigger than phone, smaller than comfortable for pc" AREA */
  @media screen and (max-width: 700px){
    #delorean {
      width: 80%;
    }
  }
  
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 200px;
    background-repeat: repeat;
  }
  
  

  nav li {
    display: inline-block;
    margin: -1%;
    border: 0%;
    padding: 0% 5%;
    width: 20%;
  }
  #wrapper {
    width: 80%;
  }
}
