<h1><%= title %></h1>
<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %>
<a href="/inv/add-classification"><button>Add New Classification</button></a><br>
<a href="/"><button>Add New Vehicle</button></a>