<h1><%= title %></h1>
<% if (message) { %>
    <p><%= message %></p>
<% } %>
<form name="login" action="">
    <label for="client_email">Email/Username</label>
    <input id="client_email" name="client_email" type="email">
    <label for="client_password">Password</label>
    <input id="client_password" name="client_password" type="password">
    <input type="submit" value="Log in">
</form>

<p>No account? <a href="/client/register">SIGN UP</a></p>