<h1><%= title %></h1>
<% if (message) { %>
    <p><%= message %></p>
<% } %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<form name="register" action="/client/register" method="post">
    <label for="client_firstname">First name</label>
    <input type="text" name="client_firstname" id="clientFirstname" required value="<%= locals.client_firstname %>"><br>
    <label for="client_lastname">Last name</label>
    <input id="client_lastname" name="client_lastname" type="text" required><br>
    <label for="client_email">Email address</label>
    <input id="client_email" name="client_email" type="email" required><br>
    <label for="client_password">Password</label>
    <div id="password_requirements">
        <p>Password must have at least 12 characters, 1 uppercase, 1 number, and 1 special character.</p>
    </div>
    <input id="client_password" name="client_password" type="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
    <input type="submit" value="Register">
</form>

<p>Already have an account? <a href="/client/login">LOGIN</a></p>