<h1><%= title %></h1>
<% if (message) { %>
    <p><%= message %></p>
<% } %>
<form name="register" action="/client/register" method="post">
    <label for="client_firstname">First name</label>
    <input id="client_firstname" name="client_firstname" type="text">
    <label for="client_lastname">Last name</label>
    <input id="client_lastname" name="client_lastname" type="text">
    <label for="client_email">Email address</label>
    <input id="client_email" name="client_email" type="email">
    <label for="client_password">Password</label>
    <input id="client_password" name="client_password" type="password">
    <input type="submit" value="Register">
</form>

<p>Already have an account? <a href="/client/login">LOGIN</a></p>